include:
  - project: rigetti/ci
    file: pipelines/docker.gitlab-ci.yml

variables:
  IMAGE: rigetti/quilc
  GIT_SUBMODULE_STRATEGY: recursive

test-cl-quil:
  stage: test
  tags:
    - github
    - dockerd
  only:
    - branches
  image: docker:stable
  script:
    - docker build -t rigetti/quilc:${CI_COMMIT_SHORT_SHA} .
    - docker run --rm --entrypoint=make rigetti/quilc:${CI_COMMIT_SHORT_SHA} test-cl-quil
    - docker rmi rigetti/quilc:${CI_COMMIT_SHORT_SHA}


test-quilc:
  stage: test
  tags:
    - github
    - dockerd
  only:
    - branches
  image: docker:stable
  script:
    - docker build -t rigetti/quilc:${CI_COMMIT_SHORT_SHA} .
    - docker run --rm --entrypoint=make rigetti/quilc:${CI_COMMIT_SHORT_SHA} test-quilc
    - docker rmi rigetti/quilc:${CI_COMMIT_SHORT_SHA}
