/coverage-report/html/
quilc
.idea/
system-index.txt
*.so
*.dylib
*.fasl
doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
.DS_Store

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*