/coverage-report/html/
quilc
.idea/
system-index.txt
*.so
*.dylib
*.fasl
doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
src/contrib/tweedledum/empty.cpp
src/contrib/tweedledum/build
src/contrib/tweedledum/rigetti-sbcl
src/contrib/tweedledum/libtweedledum.{so,dylib}
src/contrib/tweedledum/tweedledum.{so,dylib}
.DS_Store
